@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body-background: rgb(226, 220, 233);
}

body {
    background-color: var(--body-background);
}

.bg-custom-white {
    background-color: rgb(249, 249, 249);
}

.h-95 {
    height: 95.7%;
}

.w-50 {
    width: 12.5rem;
}



/* swiper */



.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiperSlides {
    background-color: var(--body-background);
}


.bannerHeading {
    line-height: 1.1 !important;
}