@import 'flowbite';
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'), url(./fonts/Gilroy-Bold.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'), url(./fonts/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-Light'), url(./fonts/Gilroy-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('ExtraBold'), url(./fonts/Gilroy-ExtraBold.ttf) format('truetype');
}

:root {
    --body-background: rgb(226, 220, 233);
}

.bg-body {
    background-color: var(--body-background);
}

.bg-gradient-1 {

    background: linear-gradient(to bottom, #5f6c87, rgb(226, 220, 233));
}

.bg-gradient-2 {
    border: 1px solid rgb(142, 142, 142);
    background: linear-gradient(to bottom right, #cad3e8 30%, rgb(226, 220, 233) 70%);
}



html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-background);
    font-family: 'Gilroy-Medium';
    scroll-behavior: smooth;
}


.gilroy-light {
    font-family: 'Gilroy-Light';
}

.gilroy-bold {
    font-family: 'Gilroy-Bold';
}

.gilroy-extraBold {
    font-family: 'Gilroy-ExtraBold';
}

.text-md {
    font-size: 1.04rem;
    line-height: 1.7rem
}

.bg-custom-white {
    background-color: rgb(249, 249, 249);
}

.h-95 {
    height: 95%;
}

.w-50 {
    width: 12.5rem;
}

.h-101 {
    height: 101%;
}


/* navbar popups */
.navDropdown1:hover .absolute {
    opacity: 100;
    transform: scaleY(1);
    border: 1px solid rgb(224, 224, 224);
}

.dropdownPopup {
    right: -40px;
}

/* navbar popups */

.socialIcons svg {
    transition: transform 0.1s ease-in-out;
}

.socialIcons svg:hover {
    transform: scale(1.2);
}

.writing-vlr {
    writing-mode: vertical-lr;
}


#header {
    transition: box-shadow 0.4s ease;
}

.headerShadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* swiper */



.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiperSlides {
    background-color: white;
}


.bannerHeading {
    line-height: 1.1 !important;
}

#appointmentDate:disabled {
    color: black !important;
    -webkit-text-fill-color: black;
}

/* notifications */

.notifications {
    padding: 10px 5px 10px 10px;
    box-shadow: inset 0px 7px 5px -5px rgba(119, 118, 118, 0.5);
    border-radius: 10px;
    height: 500px;
}

.notifications::-webkit-scrollbar {
    width: 5px;
}

.notifications::-webkit-scrollbar-track {
    background: transparent;
}

.notifications::-webkit-scrollbar-thumb {
    background-color: #777980;
    border-radius: 10px;
}

.notifications::-webkit-scrollbar-thumb:hover {
    background-color: #505255;
}

/* notifications */

/* ribbon */
.ribbon {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    left: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

/* Ribbon on consultants */

/* DateTime picker */

.datetimepickerDiv>.e-datetime-wrapper {
    background: white;
    border-radius: 7px;
    padding: 5px 15px;
    border: 1px solid #d1d5db !important;
}

input,
textarea {
    font-family: gilroy-medium !important;
}


.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input).e-input-focus::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after {
    background: none;
}

.e-datetime-wrapper .e-input-group-icon.e-icons.e-active {
    color: #0f172a;
}

/* DateTime picker */

#filter select {
    padding-right: 30px;
}