@import 'flowbite';
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'), url(./fonts/Gilroy-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'), url(./fonts/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-Light'), url(./fonts/Gilroy-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('ExtraBold'), url(./fonts/Gilroy-ExtraBold.ttf) format('truetype');
}

:root {
    --body-background: rgb(226, 220, 233);
}

body {
    background-color: var(--body-background);
    font-family: 'Gilroy-Medium';
    scroll-behavior: smooth;
}


.gilroy-light {
    font-family: 'Gilroy-Light';
}

.gilroy-bold {
    font-family: 'Gilroy-Bold';
}

.gilroy-extraBold {
    font-family: 'Gilroy-ExtraBold';
}

.text-md {
    font-size: 1.04rem;
    line-height: 1.7rem
}

.bg-custom-white {
    background-color: rgb(249, 249, 249);
}

.h-95 {
    height: 95%;
}

.w-50 {
    width: 12.5rem;
}


#header {
    transition: box-shadow 0.4s ease;
}

.headerShadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* swiper */



.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiperSlides {
    background-color: white;
}


.bannerHeading {
    line-height: 1.1 !important;
}

.notifications {
    max-height: 400px;
    overflow: hidden;
    padding-bottom: 40px;
}

/* Ribbon on consultants */
.ribbon {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    left: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

/* Ribbon on consultants */

/* DateTime picker */

.datetimepickerDiv>.e-datetime-wrapper {
    background: white;
    border-radius: 7px;
    padding: 5px 15px;
    border: 1px solid #d1d5db !important;
}

input,
textarea {
    font-family: gilroy-medium !important;
}


.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input).e-input-focus::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after {
    background: none;
}

.e-datetime-wrapper .e-input-group-icon.e-icons.e-active {
    color: #0f172a;
}

/* DateTime picker */